/*
COMPOSITION
-----------
BODY
HEADER & NAV 
FOOTER 
FLUID BREAKOUTS 
*/

/*******************************/
/************ BODY ************/   

.top-bar     {grid-area: tb;}
header       {grid-area: h;}
main         {grid-area: m;}
footer       {grid-area: f;}


body { 
  display: grid; 
  grid-template:
  "tb"
  "h"
  "m" 1fr /* gives remaining space to the main */
  "f"
  ; 
}
  
  header {
    margin-inline: 2vw;
  }
  footer {
    margin-inline: 2vw;
  }
  main { 
    margin-inline: 2vw; 
    margin-block-end: var(--space-2xl);
  }
     
  .top-bar {
    display: flex;
    justify-self: end;   
}

/********************************/
/******** HEADER & NAV  ********/

@media (width <= 45rem) {
    header {
      display: grid;
      justify-content: center;
      margin-block-end: var(--space-xl);
    }
  }
  
  @media (width > 45rem) {
    header {
      display: flex;
      justify-content: space-between;    
      padding-block-end: var(--space-l);
    }
  }


/********************************/
/******** FOOTER  ********/

.fa1   {grid-area: fa1;}
.fa2   {grid-area: fa2;}
.fa3   {grid-area: fa3; justify-self: center; margin-block-end:var(--space-l) ;}


@media (width > 40rem) {
footer .footer-wrapper{  
  display: grid;
  justify-items: center;
  grid-template:  
  "fa1 fa2"
  "fa3 fa3"
 / 1fr 1fr ;

}
}

.footer-wrapper{
  display: grid;
  margin-block-start: -3rem;
  padding: var(--space-l);
  justify-content: center; 
}


  
.box {
  /*--------Settings-------*/ 
  --grid-col-count: 3;
  --grid-gap: var(--space-m);
  --grid-item-min-width: 18rem;
  /*------------------------*/ 
  --gap-count: calc(var(--grid-col-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-gap));
  --grid-item-max-width: calc((100% - var(--total-gap-width)) / var(--grid-col-count));
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item-min-width), var(--grid-item-max-width)), 1fr));
  grid-gap: var(--grid-gap);
  padding-block: var(--grid-gap); 
}

.box li {
  margin: 0;
  padding: var(--space-m);
  list-style: none;
  border: .4rem solid var(--text);
  align-content: start;
}

.box h2 {
font-size: var(--step-2);
}


/********************************/
/******* FLUID BREAKOUTS *******/

/* https://layout-breakouts-builder.vercel.app/ */

.page-layout > *,
.full-width > * {
  grid-column: content;
}
.page-layout,
.full-width {
  --minimum-content-padding: 1rem;

  /** TRACK WIDTHS **/
  --full-max-width: 1fr;
  --popout-max-width: 90rem;
  --content-max-width: 55rem;

  /** TRACK SIZES **/
  --full: minmax(var(--minimum-content-padding), 1fr);
  --popout: minmax(
    0,
    calc((var(--popout-max-width) - var(--content-max-width)) * 0.5)
  );
  --content: min(
    var(--content-max-width),
    100% - var(--minimum-content-padding) * 2
  );

  display: grid;
  grid-template-columns:
    [full-start]
    var(--full)
    [popout-start]
    var(--popout)
    [content-start]
    var(--content)
    [content-end]
    var(--popout)
    [popout-end]
    var(--full)
    [full-end];
}

/** CLASSES **/
.full {
  grid-column: full;
}
.full-start {
  grid-column-start: full-start;
}
.full-end {
  grid-column-end: full-end;
}

.popout {
  grid-column: popout;
}
.popout-start {
  grid-column-start: popout-start;
}
.popout-end {
  grid-column-end: popout-end;
}

.content {
  grid-column: content;
}
.content-start {
  grid-column-start: content-start;
}
.content-end {
  grid-column-end: content-end;
}

.full-width {
  grid-column: full;
}
.full-content,
.full-content-nopad {
  grid-column: full;
}
.full-content {
  padding-inline: var(--minimum-content-padding);
}