---
title: "About - No Script Show"
description: "About the aims and priciples of the No Script Show"
---
<h1>About</h1>
<h2>Building better websites by:</h2>
<ul>
    <li> Following the <abbr title="World Wide Web Consortium">W3C</abbr>'s <a href="https://www.w3.org/mission/">mission.</a></li>
    
    <li>Promoting accessibility and internationalization.</li>
    <li>Applying the <a href="https://www.w3.org/2001/tag/doc/leastPower.html">rule of least power.</a></li>
    <li>Focusing on semantic HTML with CSS.</li>    
</ul>

<h2>Promoting web inclusiveness by</h2>
<ul>
<li>Supporting web standards.</li>
<li>Endorsing the aims of the <a href="https://indieweb.org/">Indie web.</a> </li>
<li>Encouraging non programmers to build their own HTML sites.</li>
</ul>

<p> We see the web as a people powered communication tool. The name "no script show"  is to emphasis that software dependencies and programming skills are optional.</p>