---js
const eleventyNavigation = {
	key: "Chat",
	order: 2 
};

---



<h1>Chat</h1>
<p><strong>Audio podcast episodes (also on YouTube).</strong></p>

<ol reversed >
{%- for post in collections['podcast'] | reverse -%}
  <li><a href="{{post.url}}">{{ post.data.title }}</a><br>
   <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time><br>
   {{post.data.description}}</li>
{%- endfor -%}
</ol>