---
title: "Contact: No Script Show"
description: Contant form for the No Script Show.
---

<h1>Contact</h1>
<section> 
          <form id="contact-form" action="https://submit-form.com/51oe63jyU" aria-label="Contact Form">
          <input type="hidden" name="_redirect" value="https://noscript.show/thank-you/">
            <div class="[ form-group ]" role="group" aria-labelledby="personal-info">
              <h2 id="personal-info" class="visually-hidden">
                Personal Information
              </h2>            

              <div class="[ field-wrapper ]">
                <label for="fullname">
                  Full Name
                  <span class="required" aria-hidden="true">*</span>
                  <span class="visually-hidden">required</span>
                </label>
                <input type="text" id="fullname" name="name" required="" aria-required="true" aria-describedby="name-error" autocomplete="name" minlength="2" maxlength="50" pattern="[A-Za-z\s'-]+">
                <span id="name-error" class="error-message" role="alert" aria-live="polite"></span>
              </div>

              <div class="[ field-wrapper ]">
                <label for="email-address">
                  Email Address
                  <span class="required" aria-hidden="true">*</span>
                  <span class="visually-hidden">required</span>
                </label>
                <input type="email" id="email-address" name="email" required="" aria-required="true" aria-describedby="email-error" autocomplete="email">
                <span id="email-error" class="error-message" role="alert" aria-live="polite"></span>
              </div>           

              <div class="[ field-wrapper ]">
                <label for="message-text">
                  Message
                  <span class="required" aria-hidden="true">*</span>
                  <span class="visually-hidden">required</span>
                </label>
                <textarea id="message-text" name="message" required="" aria-required="true" aria-describedby="message-error" minlength="10" maxlength="1000"></textarea>
                <span id="message-error" class="[ error-message ]" role="alert" aria-live="polite"></span>
              </div>
            </div>

            <button class="btn" type="submit" aria-label="Submit form">
              Send
            </button>
          </form>
        </section></div>
      