---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;

---


<h1>In search of simpler ways to make websites</h1>

<p>In this show we <a href="/chat">chat</a>, <a href="/learn">learn</a> and <a href="/build">build</a> websites and share our attempts to make them easier to maintain.</p>
<br>
<strong>We focus on:</strong>

<ul>
<li>HTML and CSS.</li>
<li>Reducing dependencies.</li>
<li>Not trying to be cleverer than we are.</li>
<li>Standards, accessibility and making the web better for all.</li>
</ul>



{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest {{ latestPostsCount }} Episode{% if latestPostsCount != 1 %}s{% endif %}</h2>

<div class="latest full ">

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist-home.njk" %}

</div>

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{# {% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %} #}


<h2>Your hosts</h2>

<p>We grew up only a few miles apart in "Middle England", but met at the safer distance of 5,000 miles. All due to the wondrous web, but earning a crust from it is not so easy.</p>

<h3>Nathan Wrigley</h3>
<p>WordPress Podcaster. Dad joke teller. Wearer of hats.</p>

<h3>David Waumsley</h3>
<p>Website maker. Typical Pisces. Astrology debunker. </p>
