---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---

<h1>Wanting simpler ways to make websites</h1>

<p>In this show we <a href="/chat">chat</a>, <a href="/learn">learn</a> and <a href="/build">build</a> websites and share our atempts to make them easier to maintain.</p>

<strong>Our focus is on:</strong>

<ul>
<li>HTML and CSS (with a smidge of JS if not too scary).</li>
<li>Reducing dependencies.</li>
<li>Not trying to be cleverer than we are.</li>
<li>Standards, accessibility and everything that makes the web better for all.</li>
</ul>

<h2>Your hosts</h2>

<p>We grew up only a few miles apart in "Middle England", but met at the safer distance of 5,000 miles. All due to the wondrous web, but earning a crust from it is not so easy.</p>

<h3>Nathan Wrigley</h3>
<p>WordPress Podcaster. Dad joke teller. Wearer of hats.</p>

<h3>David Waumsley</h3>
<p>Website maker. Typical Pisces. Astrology debunker. </p>
