---
title: "Learn | No Script Show | Website tips"
description: " Short 'how to' video posts."
eleventyNavigation: 
  key: "Learn" 
  order: 3
 
pagination: 
  data: "collections.learn"
  size: 6
  alias: "posts"
  reverse: true

permalink: "{% if pagination.pageNumber > 0 %}/learn/page/{{ pagination.pageNumber + 1 }}/{% else %}/learn/{% endif %}"

---
<div class="[ popout ]">
<h1>Learn</h1>

<p><strong>Short YouTube videos.</strong> <small class="[ page-indicator ]">Page {{ pagination.pageNumber + 1 }} of {{ pagination.pages.length }}</small></p>

 <ul class="box">
{%- for post in posts -%}
  <li><a href="{{post.url}}"><h2>{{ post.data.title }}</h2></a> 
   <time class=" [ postlist-date ]"  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
  <small>{{post.data.description}}</small> </li>
{%- endfor -%}
</ul>

{# Navigation #}
<nav aria-label="Page navigation">
  <ul class="pagination">
    {%- if pagination.href.previous -%}
      <li><a href="{{ pagination.href.previous }}">Previous</a></li>
    {%- endif -%}
    
    {%- for pageUrl in pagination.hrefs -%}
      <li><a href="{{ pageUrl }}" {% if page.url == pageUrl %}aria-current="page"{% endif %}>
        {{ loop.index }}
      </a></li>
    {%- endfor -%}
    
    {%- if pagination.href.next -%}
      <li><a href="{{ pagination.href.next }}">Next</a></li>
    {%- endif -%}
  </ul>
</nav>

</div>