---
title: "Privacy - No Script Show"
description: "Privacy and cookie information for the No Script Show."
---

<section class="[ flow ]">  
    <h1>Cookie &amp; Privacy Policy</h1>  
  
    <ul>
  <li><strong>Data Controller and Contact:</strong> David Waumsley</li>
   <li><strong>Email:</strong> 
   <a href="mailto:david@davidwaumsley.com?subject=Privacy%20Enquiry">david@davidwaumsley.com</a></li>
  </ul>  
  
  <h2> Our policy is simple</h2>
  
  <p>This site does not: </p>  
  <ul>
  <li>Use cookies.</li>
  <li>Track you.</li>
  <li>Store personal information.</li>
  </ul>  
  <p>Form submission data is removed yearly, but you can ask us remove any information we hold on you.
  </p>  
  </section>