---
title: "Resources: - No Script Show"
description: "A collection of website building resources"
---

<h1>Resources</h1>
<div  class=" [ popout ]">
      <section class="[ box ]">         
        <div>
        
          <h2>People</h2>
          
          <ul>
            <li><a href="https://rachelandrew.co.uk/" >Rachel Andrew</a></li>
            <li><a href="https://jensimmons.com/">Jen Simmons</a> </li>
            <li><a href="https://www.miriamsuzanne.com/" >Miriam Suzanne</a></li>
            <li> <a href="https://www.zeldman.com/">Jeffrey Zeldman</a></li>
            <li> <a href="https://adactio.com/" >Jeremy Keith</a></li>
           
            <li><a href="https://heydonworks.com/" > Heydon Pickering</a></li>
            <li><a href="https://andy-bell.co.uk/" >Andy Bell</a></li>         
          </ul>
          <small>More to come...</small>
          </div>
            
        <div>
        <h2>Talks</h2>        
        <ul>
          <li><a href="https://talks.jensimmons.com/GdnO62">Everything you know about
            web design just changed</a></li>
          <li><a href="https://noti.st/rachelandrew/VqOEAa/refactoring-the-way-we-talk-about-css#scagi0F">Refactoring the way we talk about CSS</a></li>          
          <li><a href="https://www.youtube.com/watch?v=PK_PICNTgAg">Is Atomic Design Dead? - Brad Frost</a></li>
          <li><a href="https://www.youtube.com/watch?v=R4Ri4ft7bXY">The Good, The Bad, and The Web Components - Zach Leatherman</a></li>
        </ul>  
        
        <small>More to come...</small>
        
        </div>
        
        <div>
        <h2>Books</h2>
        <ul>
          <li><a href="https://resilientwebdesign.com/" >Resilient web design</a><br>Free book by Jeremy Keith.</li> 
          <li><a href="https://every-layout.dev/" > Every Layout</a><br>Partly free book by Heydon Pickering and Andy Bell.</li>
          <li><a href="https://www.matuzo.at/blog/2022/100-days-of-more-or-less-modern-css">100 Days Of More Or Less Modern CSS</a></li> 
        </ul>
        <small>More to come...</small>    
        
        </div>   
        <div>
          <h2>Articles</h2>
          <ul>            
            <li><a href="https://www.matuzo.at/blog/2022/100-days-of-more-or-less-modern-css" >100 Days Of More Or Less Modern CSS</a></li> 
            <li><a href="https://labs.jensimmons.com/" >Jen Simmon's web layout experiments</a></li>
            <li><a href="https://moderncss.dev/12-modern-css-one-line-upgrades/" >12 Modern CSS One-Line Upgrades</a></li>
          </ul>
      
          <small>More to come...</small>
          
          </div>         
       
        </section>  

        </div>