{%- for post in postslist | reverse %} <li>{% if post.data.videoid %}<a href="{{ post.url }}" class="block"><img src="https://i.ytimg.com/vi_webp/{{post.data.videoid}}/mqdefault.webp" 
 alt="" 
 width="320" 
 height="180"
loading="lazy">
<span class="visually-hidden">See our post titled "{{post.data.title}}".</span>
</a>{% else %}
<a href="{{ post.url }}" ><span>{{ post.data.title }}</span></a> {% endif %}</li>{%- endfor %}