{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
{%- for post in postslist | reverse %}
<a href="{{ post.url }}"><img src="https://i.ytimg.com/vi_webp/{{post.data.videoid}}/mqdefault.webp" alt="" width="300">  </a>
{%- endfor %}
</ol>
