<footer>

<h2 class="[ angle ]">Footer</h2>  

<div class="wrapper">

<div class="footer-links">
<h3>Audio episodes</h3>

<ul> 
<li><a href="https://podcasts.apple.com/us/podcast/no-script-show/id1721164461">Apple podcasts</a></li>  
<li><a href="https://open.spotify.com/show/3Ki7eEhpGheFpmJOzZ0WEi">Spotify</a></li> 
<li><a href="https://castbox.fm/channel/id5744674?utm_campaign=ex_share_ch&utm_medium=exlink&country=us">Castbox.fm</a></li>
<li><a href="https://www.podcastrepublic.net/podcast/1721164461">Podcast Republic</a></li>
<li><a href="https://feeds.hubhopper.com/9698ac00a8141974e116d9298f9f87c8.rss">Feed</a></li>   
</ul>
</div>

<div class="footer-links">
<h3>Useful links</h3>
<ul>
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>        
<li><a href="/blog">Archive</a></li>
<li><a href="/feed/feed.xml">RSS Feed</a></li>
<li><a href="/resources">Resources</a></li>
</ul>
</div>
</div>
<small>© Copyright since 2022 | <em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em>
 </small>
</footer>