<footer>

<h2 class="[ angle ]">Stuff</h2>  

<div class="[ footer-wrapper ]">

<nav class="[ footer-links ][ fa1 ]">
<h3>Audio episodes</h3>

<ul> 
<li><a href="https://podcast.apple.com/us/podcast/no-script-show/id1721164461">Apple Podcast</a></li>  
<li><a href="https://open.spotify.com/show/3Ki7eEhpGheFpmJOzZ0WEi">Spotify</a></li> 
<li><a href="https://castbox.fm/channel/id5744674?utm_campaign=ex_share_ch&utm_medium=exlink&country=us">Castbox.fm</a></li>
<li><a href="https://www.podcastrepublic.net/podcast/1721164461">Podcast Republic</a></li>
<li><a href="https://feeds.hubhopper.com/9698ac00a8141974e116d9298f9f87c8.rss">Podcast Feed</a></li>   
</ul>
</nav>

<nav class="[ footer-links ][ fa2 ]"  id="more-navigation" aria-label="More on this site">
<h3>Useful links</h3>
<ul role="list">
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>        
<li><a href="/blog">Archive</a></li>
<li><a href="/feed/feed.xml">RSS Feed</a></li>
<li><a href="/resources">Resources</a></li>
</ul>
</nav>
</div>

<div class="[ fa3 ]">
<small >© Copyright since 2023 | <a href="/privacy"> Privacy </a> | <em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em>
</small>

 </div>
</footer>