<footer>
<h2 class="[ angle ]">Links</h2>  
<div class="[ footer-wrapper ]">
<nav aria-labelledby="podcast-links" class="[ footer-links ][ fa1 ]">
<h3 id="podcast-links" >For audio episodes</h3>
<ul> 
<li><a href="https://podcast.apple.com/us/podcast/no-script-show/id1721164461">Apple Podcast</a></li>
<li><a href="https://open.spotify.com/show/3Ki7eEhpGheFpmJOzZ0WEi">Spotify</a></li> 
<li><a href="https://castbox.fm/channel/id5744674?utm_campaign=ex_share_ch&utm_medium=exlink&country=us">Castbox.fm</a></li>
<li><a href="https://play.pocketcasts.com/podcasts/5a979010-7be1-013c-dc7c-0e76ec147af9">Pocket Casts</a></li>  
<li><a href="https://www.podcastrepublic.net/podcast/1721164461">Podcast Republic</a></li>
</ul>
</nav>

<nav class="[ footer-links ][ fa2 ]" id="more-navigation" aria-labelledby="more-here">
<h3 id="more-here">More pages</h3>
<ul>
<li><a href="/about/">About</a></li>
<li><a href="/contact/">Contact</a></li>        
<li><a href="/blog/">Archive</a></li>
<li><a href="https://noscript.show/feed/feed.xml">RSS Feed</a></li>
<li class="external-link" ><a href="https://intrinsicframework.here24.co/">Intrinsic Framework <svg aria-hidden="true" fill="var(--text)" width="18px" height="18px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M19,14 L19,19 C19,20.1045695 18.1045695,21 17,21 L5,21 C3.8954305,21 3,20.1045695 3,19 L3,7 C3,5.8954305 3.8954305,5 5,5 L10,5 L10,7 L5,7 L5,19 L17,19 L17,14 L19,14 Z M18.9971001,6.41421356 L11.7042068,13.7071068 L10.2899933,12.2928932 L17.5828865,5 L12.9971001,5 L12.9971001,3 L20.9971001,3 L20.9971001,11 L18.9971001,11 L18.9971001,6.41421356 Z"/>
</svg></a>
</li>
</ul>
</nav>
</div>
<div class="back-to-top">
<a class="btn" href="#top" aria-label="back to top"> Back to top <span aria-hidden="true">▲</span></a>
</div>
<div class="[ fa3 ]">
<small >© Copyright since 2023 | <a href="/privacy/"> Privacy </a>  | <a href="/accessibility-statement/"> Accessibility</a>  | <em>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em>
</small>

 </div>
</footer>