{#-
For structure see here:
 https://intrinsicframework.here24.co/optimized-head/ 
 
 -#}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title or metadata.title }}</title>
{#- 
------------------- CSS ------------------- 
-#}  
<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
{%- css %}
{% include "public/css/reset.css" %}
{% include "public/css/global.css" %}
{% include "public/css/composition.css" %}
{% include "public/css/utility.css" %}
{% include "public/css/block.css" %}
{% include "public/css/exceptions.css" %}
{% endcss -%}   
{% if layout == "layouts/post.njk" and videoid %}
{#-
 ------------------- Preloads -------------------
 -#}  
<link rel="preload" as="image" href="https://i.ytimg.com/vi_webp/{{videoid}}/maxresdefault.webp"> {% endif %}
<link rel="preload" href="/fonts/UbuntuMono-Bold.woff2"  as="font" type="font/woff2" crossorigin="">
<link rel="preload" href="/fonts/UbuntuMono-Regular.woff2"  as="font" type="font/woff2" crossorigin="">	
{#-
 ------------------- SEO -------------------
 -#}  
<meta name="robots" content="noai, noimageai">
<link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
{#-
 ------------------- Favicons -------------------

 See here https://intrinsicframework.here24.co/favicons/

 -#}  
<link rel="icon" type="img/x-icon" href="/svg/favicon.svg">
<link rel="icon" href="/img/favicon.ico" sizes="any">
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
<meta name="description" content="{{ description or metadata.description }}">
{#- 
------------------- RSS/Atom Feed Discovery ------------------- 
-#} 
<link rel="alternate" href="https://noscript.show/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

{#- 
For social metadata see here:
https://intrinsicframework.here24.co/social-metadata/

-#} 
{#- 
------------------- Open Graph / Facebook ------------------- 
-#}  
<meta property="og:type" content="website" />
<meta property="og:url" content="https://noscript.show{{ page.url}}" />
<meta property="og:title" content="{{ title or metadata.title }}" />
<meta property="og:description" content="{{description or metadata.description}}" />
{#-
 ------------------- OG Image Conditionals -------------------
 -#}  
{%- if videoid -%}
<meta property="og:image" content="https://i.ytimg.com/vi_webp/{{videoid}}/maxresdefault.webp" />
{%- elif featureimg -%}
<meta property="og:image" content="{{metadata.url}}{{ featureimg }}" />
{% else %}
<meta property="og:image" content="{{ metadata.url }}/img/og-image.webp" />
{%- endif %}
 
{#- ------------------- Twitter  ------------------- 
-#}  
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://noscript.show{{ page.url}}" />
<meta property="twitter:title" content="{{ title or metadata.title }}" />
<meta property="twitter:description" content="{{description or metadata.description}}" />
{#-
 ------------------- Twitter Image Conditionals -------------------
 -#}  
{%- if videoid -%}
<meta property="twitter:image" content="https://i.ytimg.com/vi_webp/{{videoid}}/maxresdefault.webp" />
{% elif featureimg %}
<meta property="twitter:image" content="{{metadata.url}}{{ featureimg }}" />
{% else %}
<meta property="twitter:image" content="{{ metadata.url }}/img/og-image.webp" />
{% endif %}
{#-
 ------------------- Show 11ty -------------------
 -#}  
<meta name="generator" content="{{ eleventy.generator }}">