<!doctype html>
<html lang="{{ metadata.language }}" data-theme="dark">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title or metadata.title }}. No Script Show</title>

<script>
  // This runs immediately, before the page renders
  const savedTheme = localStorage.getItem('theme');
  if (savedTheme) {
    document.documentElement.setAttribute('data-theme', savedTheme);
  } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
    document.documentElement.setAttribute('data-theme', 'dark');
  }
</script> 
<meta name="description" content="{{ description or metadata.description }}">
<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

{# {% if layout == "layouts/post.njk" and videoid %}
<link rel="preload" href="/path/to/lite-youtube.js" as="script">
{% endif %} #}
   
 {% if layout == "layouts/post.njk" and videoid %}
 <link rel="preload" as="image" href="https://i.ytimg.com/vi_webp/{{videoid}}/maxresdefault.webp">
 {% endif %}
		
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://noscript.show{{ page.url}}" />
<meta property="og:title" content="No Script Show {{title}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:image" content="https://i.ytimg.com/vi_webp/{{videoid}}/maxresdefault.webp"  />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://noscript.show{{ page.url}}" />
<meta property="twitter:title" content="No Script Show {{title}}" />
<meta property="twitter:description" content="{{description}}" />
<meta property="twitter:image" content="https://i.ytimg.com/vi_webp/{{videoid}}/maxresdefault.webp" />

<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
{%- css %}
{% include "public/css/reset.css" %}
{% include "public/css/global.css" %}
{% include "public/css/composition.css" %}
{% include "public/css/utility.css" %}
{% include "public/css/block.css" %}
{% include "public/css/exceptions.css" %}
{% endcss %}
 <link rel="preload" href="/fonts/UbuntuMono-Bold.woff2"  as="font" type="font/woff2" crossorigin="">
 <link rel="preload" href="/fonts/UbuntuMono-Regular.woff2"  as="font" type="font/woff2" crossorigin="">
 <meta name="generator" content="{{ eleventy.generator }}">
</head>
<body>
<a href="#skip" class="[ skip-link ]">Skip to main content</a>

<div class="[ top-bar ]">
<button class="[ toggle ]" data-theme-toggle="" id="theme-toggle" style="display: none" type="button" aria-label=" light and dark mode switch">
<img class="theme-icon" src="/svg/moon.svg" width="25" height="25" alt="">
</button>
</div>	

  {% include "partials/header.njk" %}
<main class="[ page-layout ] [ flow ]" id="skip">
			
				{{ content | safe }}
			
</main>
	
  {% include "partials/footer.njk" %}

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
		{%- js  %}	
		{% include "public/js/light-dark.js" %}	
		{% include "public/js/lite-yt-embed.js" %}	
		{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}	
		{% endjs %}		
</body>
</html>