<!doctype html>
<html lang="{{ metadata.language }}" data-theme="dark">
<head>
 {% include "partials/head.njk" %}   
</head>
<body id="top">
<a href="#skip" class="[ skip-link ]">Skip to main content</a>
<div class="[ top-bar ]">
<button class="[ toggle ]" data-theme-toggle="" id="theme-toggle" style="display: none" type="button" aria-label="light and dark mode switch">
<img class="theme-icon" src="/svg/moon.svg" width="25" height="25" alt="" >
</button>
</div>
{% include "partials/header.njk" %}
<main class="[ page-layout ] [ flow ]" id="skip">			
{{ content | safe }}			
</main>	
 {% include "partials/footer.njk" %}
<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
{%- js  %}	
{% include "public/js/light-dark.js" %}	
{% include "public/js/lite-yt-embed.js" %}	
{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}	
{% endjs %}		
</body>
</html>