---
layout: layouts/base.njk
---

{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}


<div class="[ popout ]">
{% if videoid %}
<h1 class=" [ visually-hidden ]">{{ title }}</h1>
<div class="[ popout ]" >
<lite-youtube videoid="{{videoid}}" style="background-image: url('https://i.ytimg.com/vi_webp/{{videoid}}/maxresdefault.webp');">
  <a href="https://youtube.com/watch?v={{videoid}}" class="lyt-playbtn" title="Play Video">   
  </a>
</lite-youtube>
</div>
{% elif featureimg %}

<div class="[ popout ]" >
<img class="[ feature-img ]" src="{{featureimg}}" alt="">
<h1 class="[ center-me ]">{{ title }}</h1>
</div>
{% else %}
<div class="[ page-layout ]" >
<h1 >{{ title }}</h1>
</div>
{% endif %}

<div class="right-me">
<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>
</div>
</div>
<article>
<heading-anchors>
	<div class="flow">
{{ content | safe }}
</article>
</div>

<div class="popout">
</heading-anchors>
{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
</div>
