---
layout: layouts/base.njk
---
{#- 
Syntax highlighter CSS on blog posts added to the bundle
 -#}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

{#- 
-------------------------- Post head ----------------------------- 
-#} 
{#- ---------------- If Video ---------------- -#} 
<div class="[ popout ]">
{%-if videoid %}
<h1 class=" [ visually-hidden ]">{{ title }}</h1>
<div class="[ popout ]" >
<lite-youtube videoid="{{videoid}}"
 playlabel="Play: {{ title }}"
 style="background-image: url('https://i.ytimg.com/vi_webp/{{videoid}}/maxresdefault.webp');">
  <a href="https://youtube.com/watch?v={{videoid}}" class="lyt-playbtn" title="Play Video">  
  <span class="lyt-visually-hidden">Play Video: {{ title }}</span>
 </a> 
</lite-youtube>
{#- ------------------- If Feature Image  ------------------- -#} 
{%- elif featureimg %}
<img class="[ feature-img ]" src="{{featureimg}}" alt="">
<h1 class="[ center-me ]">{{ title }}</h1>
{%- else %}
{#- ------------------- If  Title  ------------------- -#} 
<div class="[ center-me ]" >
<h1 class="[ post-title-only ]">{{ title }}</h1></div>
{%- endif %}
{#- ------------------- Meta data  ------------------- -#} 
<div class="right-me">
<small><strong>Published: </strong><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></small>
</div>
{#- ------------------- Main article ------------------- -#} 
<article>
<div class="[ flow ][ page-layout ]">
{{ content | safe }}
</div>
</article>
<div class="popout">

{#- ------------------- Post pagination ------------------- -#} 
{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<nav aria-label="Post navigation">
  <ul class="links-nextprev">
    {%- if previousPost %}
    {%- set prevTitle = previousPost.data.title | truncate(50) %}
    <li class="links-nextprev-prev">
    <a href="{{ previousPost.url }}" rel="prev" aria-label="Previous post:{{ prevTitle }}">
    <span aria-hidden="true">←</span>Previous<br>{{ previousPost.data.title }}</a>
    </li>
    {% endif -%}
    {%- if nextPost %}
    {%- set nextTitle = nextPost.data.title | truncate(50) %}
    <li class="links-nextprev-next">
      <a href="{{ nextPost.url }}" rel="next" aria-label="Next post: {{ nextTitle }}">
    <span class="next-post">Next<span aria-hidden="true">→</span></span> <br>{{ nextPost.data.title }}
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{%- endif %}{%- endif %}
</div>