---
layout: layouts/base.njk
---
{#- 
Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle
 -#}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}

{#- 
-------------------Post head/ video section ------------------- 
-#} 

{#- ------------------- Video ------------------- -#} 
<div class="[ popout ]">
{%-if videoid %}
<h1 class=" [ visually-hidden ]">{{ title }}</h1>
<div class="[ popout ]" >
<lite-youtube videoid="{{videoid}}"
 playlabel="Play: {{ title }}"
 style="background-image: url('https://i.ytimg.com/vi_webp/{{videoid}}/maxresdefault.webp');">
  <a href="https://youtube.com/watch?v={{videoid}}" class="lyt-playbtn" title="Play Video">  
  <span class="lyt-visually-hidden">Play Video: {{ title }}</span>
 </a> 
</lite-youtube>
{#- ------------------- Feature Image  ------------------- -#} 
{%- elif featureimg %}
<img class="[ feature-img ]" src="{{featureimg}}" alt="">
<h1 class="[ center-me ]">{{ title }}</h1>
{%- else %}
{#- ------------------- Title  ------------------- -#} 
<div class="[ center-me ]" >
<h1 class="[ post-title-only ]">{{ title }}</h1></div>
{%- endif %}
{#- ------------------- Meta data  ------------------- -#} 
<div class="right-me">
<small><strong>Published:</strong><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></small>
{#- {%- for tag in tags | filterTagList %}
{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<li><a href="{{ tagUrl }}" class="post-tag"> {{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
{%- endfor %} -#}
</div>
{#- ------------------- Main article ------------------- -#} 
<article>
<heading-anchors>
<div class="[ flow ][ page-layout ]">
{{ content | safe }}
</div>
</article>
<div class="popout">
</heading-anchors>
{#- ------------------- Post pagination ------------------- -#} 
{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
{%- if previousPost %}
<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>
{% endif -%}
{%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}{%- endif %}
</div>